/* quill styles */
.quill-editor {
  border: var(--bs-border-width) solid var(--bs-border-color);
  background-color: #fff;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.quill-editor:has(.ql-editor:focus) {
  border-color: #86b7fe;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  font-family: var(--fa-font);
  border: 0;
  font-size: 1rem;
}

.ql-toolbar.ql-snow {
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

.ql-editor p {
  margin-bottom: 1rem;
}

.ql-toolbar.ql-snow button svg .ql-stroke {
  stroke: var(--bs-secondary);
}

.ql-toolbar.ql-snow button svg .ql-fill {
  fill: var(--bs-secondary);
}

.ql-toolbar.ql-snow button:hover,
.ql-toolbar.ql-snow button:focus,
.ql-toolbar.ql-snow button.ql-active {
  color: var(--bs-primary);
}

.ql-editor {
  min-height: 30vh;
  overflow: auto;
  resize: vertical;
}

.ql-snow .ql-editor a {
  text-decoration: none;
}
