body {
  --fa-font: "Roboto", sans-serif;
  font-family: var(--fa-font);
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

form .form-label {
  font-weight: 500;
}

h1 {
  font-weight: 700;
}

.nav-link.profile img {
  border-radius: 50%;
}

.navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.navbar-nav .nav-link:hover {
  color: var(--bs-primary);
}

.navbar-nav .nav-link.profile + .dropdown-menu button {
  color: var(--bs-danger);
}

.forum-header {
  margin-top: 80px;
}

.forum-header .threads-filter {
  width: 25%;
}

@media (max-width: 991.98px) {
  .forum-header .threads-filter {
    width: 40%;
  }
}

@media (max-width: 767.98px) {
  .forum-header .threads-filter {
    width: auto;
  }
}

.threads-list,
.thread-card {
  margin-top: 38px;
}

.threads-list .thread-item,
.thread-card {
  background-color: white;
  border: 1px solid var(--bs-border-color);
  padding: 20px;
}

.threads-list .thread-item:first-child,
.comments-list .comment-item:first-child {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.threads-list .thread-item:last-child,
.comments-list .comment-item:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.threads-list .thread-body:hover {
  cursor: pointer;
}

.threads-list .thread-author img,
.thread-card .thread-author img {
  border-radius: 50%;
}

.threads-list .thread-author span,
.thread-card .thread-author span {
  color: #7a7a7a;
}

.threads-list .thread-author span {
  font-size: .75rem;
}

.threads-list .thread-item p {
  color: #4b4b4b;
}

.threads-list .thread-footer {
  font-size: .875rem;
}

.threads-list .thread-footer button,
.thread-card .thread-footer button,
.comments-list .thread-footer button {
  padding: 0px;
  border: 0;
  background-color: transparent;
  font-weight: inherit;
  color: var(--bs-primary);
}

.threads-list .thread-footer,
.threads-list .thread-footer button:not(.active),
.thread-card .thread-body time,
.thread-card .thread-footer,
.thread-card .thread-footer button:not(.active),
.comments-list .comment-footer, 
.comments-list .comment-footer button:not(.active) {
  color: #6c757d;
}

.threads-list .thread-footer button:hover,
.thread-card .thread-footer button:hover,
.comments-list .comment-footer button:hover {
  color: var(--bs-primary);
}

.threads-list .thread-footer i,
.thread-card .thread-footer i,
.comments-list .comment-footer i {
  margin-right: .25rem;
}

.thread-card {
  border-radius: 6px;
}

.thread-card .thread-author span,
.thread-card .thread-body time {
  font-size: .875rem;
}

.thread-card .thread-body div:not(.thread-author) img,
.comment-item .comment-body div:not(.comment-author) img {
  width: 100%;
}

footer {
  margin-top: 9rem;
  font-size: .75rem;
  color: #4b4b4b;
}

.fixed-alert {
  min-width: 50%;
}

/* Loading bar */
.loading-bar {
  background-color: var(--bs-primary);
  height: 3px;
  position: absolute;
}

/* comments */
.comments {
  padding-left: 20px;
}

.comments .badge {
  font-size: .625rem;
}

.comments h3 {
  padding-right: 4px;
}

.comments h3 span {
  transform: translate(0, -30%);
}

.comment-item {
  background-color: #fff;
  padding: 15px;
  border: 1px solid var(--bs-border-color);
}

.comment-author img {
  border-radius: 50%;
}

.comment-author span,
.comment-footer {
  font-size: 0.875rem;
}

.comment-author time {
  font-size: .75rem;
}

.comment-body div:nth-child(2) {
  font-size: 1.125rem;
}

/* Leaderboards */
.leaderboards-list {
  margin-top: 25px;
}

.leaderboard-number,
.leaderboard-body {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid var(--bs-border-color);
}

.leaderboard-number {
  padding: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 2px;
}

.leaderboard-body {
  padding: 10px 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.leaderboard-profile img {
  border-radius: 50%;
}

