body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

form .form-label {
  font-weight: 500;
}

h1 {
  font-weight: 700;
}

.nav-link.profile img {
  border-radius: 50%;
}

.navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.navbar-nav .nav-link:hover {
  color: var(--bs-primary);
}

.navbar-nav .nav-link.profile + .dropdown-menu a {
  color: var(--bs-danger);
}
